@model Hangman.Models.GameViewModel

@{ 
    if(Model.WrongLetters == null)
    {
        Model.WrongLetters = "";
    }
}

@using (Ajax.BeginForm("Game", "Game", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "gamePartialView",
    InsertionMode = InsertionMode.Replace,
}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
    @Html.HiddenFor(model => model.WrongLetters)
    @Html.HiddenFor(model => model.ImagePath)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Word.Id)
    @Html.HiddenFor(model => model.Word.Category)
    @Html.HiddenFor(model => model.Word.Description)
    @Html.HiddenFor(model => Model.Word.WordForGame)
    @Html.HiddenFor(model => model.Word.WordText)
    @Html.HiddenFor(model => Model.NumberOfTryGuessLetter)
    <div>
        <table>
            <tr>
                <td>
                    @if (Model.Word.WordForGame.Contains('_') && Model.WrongLetters.Length < 5)
                    {
                        @Html.TextBoxFor(m => m.UserInput, new { @Value = "" })
                        @ViewBag.Message
                        @Html.ValidationMessageFor(m => m.UserInput, "", new { @class = "text-danger" })
                    }
                </td>
                <td>
                    @if (Model.Word.WordForGame.Contains('_') && Model.WrongLetters.Length < 5)
                    {
                        <input type="submit" value="Пробвай" class="btn btn-default" />
                    }
                </td>

                @if (!Model.Word.WordForGame.Contains('_') || Model.WrongLetters.Length >= 5)
                {
                    <td>
                        <div>
                            @Html.ActionLink("Нова игра?", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </td>
                }
            </tr>
        </table>
    </div>
}